header {
  background-color: gray; }
  header .h1 {
    text-align: center;
    background-color: azure; }
  header .imag1 {
    width: 25%; }
  header nav {
    display: inline; }
    header nav ul {
      display: flex;
      justify-content: space-between;
      background-color: tan;
      color: black;
      list-style: none; }

main {
  background-color: #4d4c4c; }
  main div p {
    background-color: azure;
    text-align: center; }

footer ul {
  background-color: rgba(39, 38, 38, 0.418);
  display: flex;
  justify-content: space-around; }
  footer ul li {
    color: antiquewhite;
    background-color: black; }
    footer ul li:hover {
      background-color: wheat;
      color: aqua; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
