header {
    background-color: gray;
    .h1 {
      text-align: center;
      background-color: azure;
    }
    .imag1 {
      width: 25%;
    }
    nav {
      display: inline;
      ul {
        display: flex;
        justify-content: space-between;
        background-color: tan;
        color: black;
        list-style: none;
      }
    }
  }